body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #6faf8e;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 30px 20px;
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    color: #00801c;
    margin-top: 30px;
    font-size: 3.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: justify;
}

ol {
    padding-left: 30px;
    list-style-type: lower-alpha;
}

li {
    margin-bottom: 10px;
}



select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    background-size: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
input[type="text"],
textarea,
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); 
    transition: border-color 0.3s ease-in-out;
}

input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #008080;
    outline: none;
}

input[type="number"]:hover,
input[type="text"]:hover,
textarea:hover,
select:hover {
    border-color: #008080;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #150055;
}

.button-container {
    display: flex;
    justify-content: center; 

}

.home-button {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    top: -32px;
    left: 0px;
    padding: 10px 20px;
    font-size: 16px;
}

.home-button:hover {
    background-color: #600080;
}