<!DOCTYPE html>
<html>
<head>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #8ce930;
            color: black;
            text-align: center;
            padding:20px;
            font-size: 20px;
            background-image: linear-gradient(to right, rgb(242, 0, 198), rgb(7, 146, 215));
            font-weight: bolder;

        }
    </style>
</head>
<body>
    <div class="footer">
        &copy; 2023 Likollari Kelvin
    </div>
</body>
</html>